@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --primary-font: "Montserrat", sans-serif;
}
body{
    background-color: #0a0a23;
    font-family: var(--primary-font);
}

.bg-holder{
    background-image: url(../images/backgrounds/background01.png);
    position: absolute;
    width: 100%;
    min-height: 100%;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    

}

#logo{
    width: 60px;
    filter: invert(50%);
    transform: rotate(25deg);
}