@root


*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body, html{
    height: 100%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}

body{
    background-image: url(Images/table-bg.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.container-1{
    width: 50%;
    min-width: 300px;
    max-width: 500px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    column-gap: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgb(218, 165, 32);
    font-weight: bold;
}

h1{
    color: goldenrod;
}

#message-el{

}

