*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'trebuchet ms', 'lucida sans unicode', 'lucida grande', 'lucida sans', arial, sans-serif;
    background-image: url(Images/table-bg.webp);
    text-align: center;
    color: white;
    background-size: cover;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container-1 {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 215, 0, 0.7);
    column-gap: 20px;
    row-gap: 10px;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
}

h1 {
    color: goldenrod;
}

#message-el {
    
}