*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html{
    height: 100vh;
    width: 100%;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
}

 main{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    row-gap: 20px;
}

.button{
    height: 30%;
    padding: 30% 20vw;

}

@media screen and (min-width: 768px){
    .button{
        height: 30%;
        padding: 30% 10vw;
        font-size: 20rem !important;

    }
}